<?xml version='1.0' encoding='utf-8'?>
<plugin id="info.androidabcd.plugins.custom" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>cordova-custom-plugin</name><js-module name="cordova-custom-plugin" src="www/cordova-custom-plugin.js"><clobbers target="cordova.plugins.cordova-custom-plugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="cordova-custom-plugin"><param name="android-package" value="info.androidabcd.plugins.custom.cordova-custom-plugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/cordova-custom-plugin.java" target-dir="src/info/androidabcd/plugins/custom/cordova-custom-plugin" /></platform></plugin>